<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <h1>Team Name: <%= @basketball_team_hash['name']%></h1>
  <h2>Coach: <%= @basketball_team_hash['coach']%></h2>
  <h2>Point Guard: <%= @basketball_team_hash['pg']%></h2>
  <h2>Shooting Guard: <%= @basketball_team_hash['sg']%></h2>
  <h2>Small Forward: <%= @basketball_team_hash['sf']%></h2>
  <h2>Power Forward: <%= @basketball_team_hash['pf']%></h2>
  <h2>Center: <%=@basketball_team_hash['c'] %></h2>
 </body>
</html>


